<div class="mt-[32px] lg:mt-[99px] lg:flex lg:justify-between">
  <div class="lg:w-[40%] flex flex-col gap-4">
    <div>
      <p class="text-[14px] italic md:text-bodyS text-grey-navy dark:text-light-blueish">
        Question {{ currentQuestionIndex + 1 }} of {{ quiz?.questions?.length }}
      </p>
    </div>
    <div>
      <p class="text-[20px] mt-3 md:text-headingM font-medium text-dark-navy dark:text-pure-white">
        {{ getCurrentQuestion()?.question }}
      </p>
    </div>
    <div class="w-full mt-6">
      <div class="relative w-full h-4 range-bar bg-pure-white dark:bg-navy rounded-full">
        <div [style.width.%]="rangeValue" class="range-fill bg-purple rounded"></div>
      </div>
    </div>
  </div>
  <div class="lg:w-[50%] flex flex-col gap-6 mt-16 lg:mt-0">
    <div
      *ngFor="let option of getCurrentQuestion()?.options; let i = index"
      (mouseover)="hoveredOption = i"
      (mouseout)="hoveredOption = null"
      class="flex items-center gap-4 bg-pure-white dark:bg-navy h-16 md:h-20 md:text-headingS pl-3 rounded-3xl cursor-pointer"
      [ngClass]="{
        'border-purple border-[3px]': selectedOption === i,
        'border-none': selectedOption !== i
      }"
      (click)="selectOption(i)"
    >
      <div
        [ngClass]="{
          'bg-[#F6E7FF]': hoveredOption === i && selectedOption !== i,
          'bg-light-grey': hoveredOption !== i && selectedOption !== i,
          'bg-purple': selectedOption === i
        }"
        class="w-10 h-10 md:w-14 md:h-14 rounded-lg flex justify-center items-center"
      >
        <p
          [class.text-purple]="hoveredOption === i && selectedOption !== i"
          [class.text-pure-white]="selectedOption === i"
          class="text-[18px] text-grey-navy font-normal"
        >
          {{ getOptionLabel(i) }}
        </p>
      </div>
      <div>
        <p class="font-medium text-[18px] text-dark-navy dark:text-pure-white">
          {{ option }}
        </p>
      </div>
    </div>
  </div>
</div>

<div class="mt-6 flex gap-4">
  <div
    class="min-h-14 md:min-h-[92px] bg-purple hover:opacity-50 rounded-xl flex justify-center items-center cursor-pointer"
    (click)="submitAnswer()"
  >
    <p class="text-pure-white text-[18px] md:text-headingS font-medium">
      Submit Answer
    </p>
  </div>
  <div
    class="min-h-14 md:min-h-[92px] bg-purple hover:opacity-50 rounded-xl flex justify-center items-center cursor-pointer"
    (click)="nextQuestion()"
  >
    <p class="text-pure-white text-[18px] md:text-headingS font-medium">
      Next Question
    </p>
  </div>
</div>

<div *ngIf="showError" class="flex justify-center items-center gap-2 mt-3 md:mt-[34px]">
  <div class="flex justify-center items-center">
    <mat-icon svgIcon="icon-incorrect"></mat-icon>
  </div>
  <p class="text-[18px] text-red md:text-bodyM pt-1 md:pt-[2px]">
    Please select an answer
  </p>
</div>
