<div class="mt-[32px] lg:mt-[99px] lg:flex lg:justify-between">
  <div class="flex flex-col gap-4">
    <div>
      <p
        class="text-[40px] md:text-headingL font-light text-dark-navy dark:text-pure-white"
      >
        Quiz completed
      </p>
      <p
        class="text-[40px] font-medium md:text-headingL text-dark-navy lg:font-bold dark:text-pure-white"
      >
        You scored...
      </p>
    </div>
  </div>
  <div class="md:w-[50%]">
      <div class="lg:w-[100%] bg-pure-white dark:bg-navy flex flex-col px-8 py-8 mt-10 lg:mt-0">
        <div
          class="flex justify-center items-center gap-4 dark:bg-navy h-16 md:h-20 md:text-headingS rounded-md"
        >
          <div
            class="w-10 h-10 md:w-14 md:h-14 bg-[#F6E7FF] rounded-lg flex justify-center items-center"
          >
            <mat-icon svgIcon="icon-accessibility"></mat-icon>
          </div>
          <div>
            <p class="font-medium text-[18px] md:text-headingS text-grey-navy dark:text-pure-white">
              Accessibility
            </p>
          </div>
        </div>
        <div class="flex flex-col justify-start items-center">
          <p class="text-dark-navy font-medium text-[88px] h-auto md:text-display dark:text-pure-white">8</p>
          <p class="text-grey-navy text-[18px] md:text-bodyM dark:text-light-blueish">out of 10</p>
        </div>
      </div>
      <div
        class="min-h-14 md:min-h-[92px] bg-purple hover:opacity-50 rounded-xl flex justify-center items-center cursor-pointer mt-3"
      >
        <p class="text-pure-white text-[18px] md:text-headingS font-medium">
          Play Again
        </p>
      </div>
  </div>
</div>
