<div class="bg-light-grey min-h-screen max-h-[960px] px-[140px]">
  <div class="flex justify-between items-center">
    <div class="flex items-center gap-6">
      <div
        class="w-14 h-14 bg-[#F6E7FF] rounded-lg flex justify-center items-center"
      >
        <mat-icon svgIcon="icon-accessibility"></mat-icon>
      </div>
      <div><p class="text-headingS text-dark-navy">Accessibility</p></div>
    </div>
    <div class="w-32 h-7 flex justify-between items-center">
      <div class="w-12 h-auto flex flex-col justify-center">
        <mat-icon svgIcon="icon-sun-dark"></mat-icon>
      </div>
      <div class="w-14 h-[100%] bg-purple rounded-full flex flex-col justify-center pl-1">
        <div class="w-5 h-5 bg-pure-white rounded-full cursor-pointer"></div>
      </div>
      <div class="w-12 h-auto flex flex-col justify-center items-end">
        <mat-icon svgIcon="icon-moon-dark"></mat-icon>
      </div>
    </div>
  </div>
</div>
