.image-bg-light-desktop {
  background: url("../assets/images/pattern-background-desktop-light.svg");
}
.image-bg-dark-desktop {
  background: url("../assets/images/pattern-background-desktop-dark.svg");
}
.image-bg-light-tablet {
  background: url("../assets/images/pattern-background-tablet-light.svg");
}
.image-bg-dark-tablet {
  background: url("../assets/images/pattern-background-tablet-dark.svg");
}
.image-bg-light-mobile {
  background: url("../assets/images/pattern-background-mobile-light.svg");
}
.image-bg-dark-mobile {
  background: url("../assets/images/pattern-background-mobile-dark.svg");
}
