<div
  class="min-h-14 md:min-h-[92px] bg-purple hover:opacity-50 rounded-xl flex justify-center items-center cursor-pointer"
>
  <p class="text-pure-white text-[18px] md:text-headingS font-medium">
    Submit Answer
  </p>
</div>
<div
  class="min-h-14 md:min-h-[92px] bg-purple hover:opacity-50 rounded-xl flex justify-center items-center cursor-pointer"
>
  <p class="text-pure-white text-[18px] md:text-headingS font-medium">
    Next Question
  </p>
</div>
<div class="flex justify-center items-center gap-2 mt-3 md:mt-[34px]">
  <div class="flex justify-center items-center">
    <mat-icon svgIcon="icon-incorrect"></mat-icon>
  </div>
  <p class="text-[18px] text-red md:text-bodyM pt-1 md:pt-[2px]">
    Please select an answer
  </p>
</div>
